html {
  box-sizing: border-box;
}

body {
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 600;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.panel {
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.75s cubic-bezier(1, -0.01, 0.38, 1.23),
    flex 0.75s cubic-bezier(1, -0.01, 0.38, 1.23);
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.panel1 { background-image:url(/panel5.jpg) }
.panel2 { background-image:url(/panel2.jpg); }
.panel3 { background-image:url(/panel3.jpg); }
.panel4 { background-image:url(/panel4.jpg); }
.panel5 { background-image:url(/panel1.jpg); }


.panel p {
  transition: transform 0.7s;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 4;
  font-size: 40px;
}

.panel > *:first-child{
  transform: translateY(-100%);
}

.panel > *:last-child{
  transform: translateY(100%);
}

.panel.returnOnOpen > *:first-child{
  transform: translateY(0);
}
.panel.returnOnOpen > *:last-child{
  transform: translateY(0);
}